*{
    list-style: none;
    text-decoration: none;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--color-gris-muy-claro);
    font-family: 'Figtree', sans-serif;
    
}

:root {
  --color-blanco: #ffffff;
  --color-gris-oscuro: #333333;
  --color-gris-claro: #777777;
  --color-gris-muy-claro: #f4f4f4;
  --color-gris-palido: #e0e0e0;
  --color-azul: #00aaff;
  --color-azul-oscuro: #008ecc;
}

.main{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;

  @media(max-width:900px){
    padding-bottom: 100px;
  }
}

.title{
  text-transform: uppercase;
  margin: 20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/*HEADER*/
header{
    background-color: black;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 90px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    @media(max-width:750px){
    height: 120px;
    }
}

.logoHeader{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #000;
}

.logoHeader:hover{
  border: 5px solid var(--color-azul-oscuro);
}

.listas{
  display: flex;
  justify-content: center;
  align-items: center;

  @media(max-width:750px){
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
    }
}

.sections, .contactIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}



.sections li a, .contactIcons li a{
    color: white;
    margin: 15px;
    font-size: 25px;

    @media(max-width:750px){
    font-size: 15px;
    margin: unset;
    margin: 5px;
    }
}

.sections li a:hover, .contactIcons li a:hover{
    color: var(--color-azul-oscuro);
    transition: 1s;
}



/*FOOTER*/
.footer{
    background-color: var(--color-gris-palido);
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: var(--color-gris-oscuro);
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);

    @media(max-width:750px){
    flex-direction: column;
    height: 70px;
    justify-content: space-around;
    }
}

.sectionsFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionsFooter li a {
  margin: 10px;
  color: var(--color-gris-oscuro);
  font-weight: bold;
}

.sectionsFooter li a:hover{
  color: var(--color-azul-oscuro);
}

/*INDEX*/
.inicio{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  background-color: var(--color-blanco);
  padding-top: 10px;
}

.imgIndex{
    width: 100px;
}

.containerImgGuada{
  width: 60%;
}

.imgGuada{
  width: 100%;
}


.webDevContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  padding-top: 30px;
}

.web{
  font-size: 50px;
  color: #ffa500;
  font-weight: bold;
  margin-right: 10px;

  @media(max-width:750px){
    font-size: 30px;
  }
}

.dev{
  font-size: 30px;
  text-transform: capitalize;
  @media(max-width:750px){
    font-size: 15px;
  }
}

.guadaLogoIndexContainer{
  width: 20%;
}

.guadaLogoIndex{
  width: 200px;
  
}

/*SKILLS*/

.allSkills{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /*ASDSADSA*/
}

.containerSkillImg {
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;

  @media(max-width:900px){
    width: 50px;
    height: 50px;
  }
}

.skillImg {
  width: 100%;
  background-color: #fff;
}

.skillName{
  font-size: 15px;
  @media(max-width:550px){
    font-size: 12px;
  }
}

.container.skillsContainer{
  background-color: var(--color-gris-palido);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 1px 10px var(--color-gris-claro);
  width: 810px;
  margin: 10px;

  @media(max-width:900px){
    width: 550px;
  }

  @media(max-width:600px){
    width: 290px;
  }
}

.title.titleSkills{
  color: var(--color-azul-oscuro);
}

.container.softSkillsContainer{
  background-color: var(--color-gris-palido);
  width: 810px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--color-gris-claro);
  padding: 5px;

  @media(max-width:900px){
    width: 550px;
  }

  @media(max-width:600px){
    width: 290px;
  }
}

.soft-skills {
  list-style: none;
  padding: 0;
}

.soft-skills li {
  margin: 10px 0;
  font-size: 1.1rem;

  @media(max-width:550px){
    font-size: 14px;
  }
}

.soft-skills i {
  color: var(--color-azul-oscuro);
  margin-right: 10px;
}

/*CONTACT*/
.contactContainer {
  padding: 50px;
  text-align: center;
  color: #333;
}

/*ESTUDIOS*/
.estudiosImagesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerEstudiosImg{
  width: 500px;
  height: 350px;
  margin: 10px;
  background-color: var(--color-blanco);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px var(--color-gris-claro);
  
}
.estudiosImg{
  width:100%;
  height: 100%;
  border-radius: 10px;
}

/*FORMULARIO*/
.formulario{
  background-color: var(--color-blanco);
  display: flex;
  flex-direction: column;

  width: 500px;
  padding: 20px;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.labelInput{
  text-align: left;
  margin-bottom: 10px;
}

.labelInput label{
  font-size: 18px;
  color: var(--color-gris-oscuro);
  font-weight: bold;
}

.formulario input[type="text"], .formulario input[type="email"], .formulario textarea{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  filter: drop-shadow(1px 1px 1px black);
  margin-top: 5px;
  font-size: 16px;
}

.formulario textarea{
  height: 200px;
  resize: none;
  overflow-y: hidden;
}

.btnSubmit{
  background-color: var(--color-azul);
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:10px 0px 10px 0px;
  font-weight: bold;
  font-size: 18px;
}

.btnSubmit:hover{
  cursor: pointer;
  background-color: var(--color-azul-oscuro);
  transition: 1s;
}

.alert {
	padding: 1em;
	color:#fff;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 14px;
}

.alert.error {
	background: #a94442;
}

.alert.success {
	background: #4CAF50;
}

/*PROYECTOS*/
.proyectosContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* #ffffff
	#333333 gris oscuro
    #777777 gris claro
    #f4f4f4 gris muy claro
    	#e0e0e0 gris palido
        	#00aaff azul
            	#008ecc azul oscuro */